name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  mac_os_test:
      name: MAC OS Plugin test
      runs-on: macos-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Install asdf dependencies
          uses: asdf-vm/actions/install@v1

        - name: Print Path
          run: echo $PATH

        - name: Print JAVA Path
          run: which java

        - name: Print LS 
          run: ls -aRl ${HOME}/.asdf

        - name: asdf global
          run: asdf global java adoptopenjdk-16.0.2+7 

        - name: asdf reshim
          run: asdf reshim java adoptopenjdk-16.0.2+7 

        - name: asdf_plugin_test
          uses: asdf-vm/actions/plugin-test@v1
          with:
            command: testrunner.sh -help

  plugin_test:
    name: asdf plugin test
    runs-on: ubuntu-latest
    steps:
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v1
        with:
          command: testrunner.sh -help
        