name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  dependency_install:
    name: dependency install
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install asdf dependencies
        uses: asdf-vm/actions/install@v1

      - name: Run asdf local
        run: javac - version
          
      - name: Run asdf local
        run: java - version

  plugin_test:
    name: asdf plugin test
    needs: dependency_install
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v1
        with:
          command: testrunner.sh -help
              # command: pwd
